*{
    margin: 0;
    padding: 0;

}

/* --- NAVBAR --- */
.navbar{
    background-color: #BBDB9B;
}
.navbar-nav{
    justify-content: space-between;
}

.nav-link{
    margin-top: 3rem;
}
.wrap2{
    margin: auto;
    text-align: center;
}

/* --- CARROUSEL --- */
/* .container-fluid{
    background-color: ;
} */
.text-banner{
    position: relative;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.03);
}
.carousel{
    position: absolute;
}

.carousel-caption{
    background-color: rgba(119, 119, 119, 0.097);
    height: 6em;
    font-size: 1.7rem;
}

.cap2{
    background-color: rgba(119, 119, 119, 0.676);
    height: 6em;
    font-size: 1.7rem;
}

.carousel-caption h5, .carousel-caption p{
    color: #000000;
}

/* --- CARD --- */


.title-text{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sta{
    margin-left: 10rem;
}

.opinion-card{
    width: 350px;
}

.opinion-card-img{
    height: 200px;
}

/* --- Opinion Card --- */

.opinion{
    margin-top: 50px;
    background-color: #9DB4AB;
}

.title-text{
    padding-top: 50px;
}


.opinions-cards{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.container i {
    font-size: 20px;
}

.cards-op{
 margin-left: 5rem;
}



/* --- Responsive --- */
@media only screen and (max-width: 1230px){
    .card-cont{
        width: 200px;
    }

    .sta{
        margin-left: 0;
    }
}
@media only screen and (max-width: 990px) {
    .logo{
        display: none;
    }
    .nav-link{
        margin-top: 1px;
    }
    
    .col{
        width: 10px;
        height: 180px;
    }
    .col{
        display: flex;
        
    }

    .card-cont{
        width: 90px;
    }

    .sta{
        margin-left: 0;
    }

    .card-cont img{
        width: 110px;
    }
  }
@media only screen and (max-width: 630px){
    .card-plants{
        flex-direction: column;
    }

    .sta{
        margin-left: 0;
    }
}